<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
</head>
<body>
    <div style="background-color: rgb(177, 198, 236); padding: 25px 0 50px 0;">
        <p style = "width: 410px; display: block; margin: 0 auto; font-size: 50px;">Here is your team!</p>
        
    </div>
    <div style = "display: flex; justify-content: center; text-align: center; flex-wrap: wrap; background-color: rgb(179, 250, 179);" id = "card">
        //put cards here
        
        </div>
        
        
    </div>
</body>
</html>